:root {
    box-sizing: border-box;
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 
 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    outline: 0; 
}

body {
    font-family: 'Inconsolata', monospace; 
}

a {
    text-decoration: none; 
    color: unset; 
}

img {
    display: block; 

    object-fit: cover;
    object-position: center; 
}