/* GLOBAL */

:root {
    height: 100%; 
}

*, 
::before, 
::after {
    touch-action: none; 
}

body {
    display: flex; 
    justify-content: center;

    background-color: #000; 
}

/* GAME CONTAINER */

.game-container {
    max-width: 500px; 

    background-color: #000;
    
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* INPUT CONTAINS THE SVGS */

.input {
    width: 100%; 

    display: flex; 
    flex-wrap: wrap-reverse;
}

/* SVG */

.circle {
    width: 33%; 

    border: 1px solid #000;
}
.circle[base='decimal'] {
    width: 33%; 
    margin-right: 66%; 
}

.arc[selected='true'] {
    fill: #0f0; 
}

/* SVG ANSWER TEXT */

.ans-text {
    fill: #fff; 
    font: 0.33px sans-serif; 
}

/* INTERFACE CONTAINS SETTINGS */

.interface {
    width: 500px; 

    background-color: #000;
    color: #fff; 
    
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.interface > * {
    width: 100%; 
    margin: 0.6rem 0; 
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HOME BUTTON */

.home-link {
    height: 8rem; 
    width: 8rem; 
    
    /* background-color: #aff8;  */
    background-image: url('/img/home-link.svg'); 
    background-size: contain; 
}

/* HINT */

.interface_hint {
    position: relative; 
}

.interface_hint::before {
    content: '⌄'; 
    position: absolute; 
    top: 0; 
}

.hint {
    max-width: 16rem;  
    padding: 1.2rem; 
    
    border-radius: 2.4rem; 
    border: 1px solid #fff; 
}

.hint_cover {
    position: absolute; 
    top: 1.2rem; 
    height: 1.2rem; 
    width: 18ch; 

    background-color: #000; 

    cursor: pointer; 
    transition: background-color 0.2s; 

    display: flex; 
    justify-content: center;
    align-items: center;

    display: none; 
}

.hint_cover:hover {
    background-color: transparent; 
    color: transparent; 
}

.interface_description {
    text-align: center; 
}